<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Timetracker</display-name>
    <servlet>
        <servlet-name>Timesheet</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.Timesheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actions</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPwd</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.CheckPwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contracts</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.Contracts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectShortcuts</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.ProjectShortcuts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projects</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.Projects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>week_schedule_delete</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.timesheet.week_schedule_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>week_schedule_getItems</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.timesheet.week_schedule_getItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>week_schedule_resources</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.timesheet.week_schedule_resources</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>week_schedule_save</servlet-name>
        <servlet-class>de.cismet.web.timetracker.servlets.timesheet.week_schedule_save</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Timesheet</servlet-name>
        <url-pattern>/Timesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actions</servlet-name>
        <url-pattern>/Actions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPwd</servlet-name>
        <url-pattern>/CheckPwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contracts</servlet-name>
        <url-pattern>/Contracts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectShortcuts</servlet-name>
        <url-pattern>/ProjectShortcuts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projects</servlet-name>
        <url-pattern>/Projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>week_schedule_delete</servlet-name>
        <url-pattern>/week_schedule_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>week_schedule_getItems</servlet-name>
        <url-pattern>/week_schedule_getItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>week_schedule_resources</servlet-name>
        <url-pattern>/week_schedule_resources</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>week_schedule_save</servlet-name>
        <url-pattern>/week_schedule_save</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Stammdaten.jsp</welcome-file>
        </welcome-file-list>
</web-app>
